html {
  background-color: DimGray; }

body .site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background-color: #ECECEA;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5); }
  body .site-wrapper .site-wrapper-inner {
    display: table-cell;
    vertical-align: top; }
    body .site-wrapper .site-wrapper-inner .cover-container {
      margin-right: auto;
      margin-left: auto; }
      body .site-wrapper .site-wrapper-inner .cover-container .login-box {
        background-color: #ECECEA; }
      body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix .inner {
        padding: 30px;
        color: black;
        text-align: center;
        text-shadow: 0 3.5px 3px rgba(0, 0, 0, 0.5); }
        body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix .inner a img.masthead-brand.main-logo {
          width: 10%;
          height: 10%;
          margin-top: 10px;
          margin-bottom: 10px; }
      body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav .masthead-nav > li {
        display: inline-block; }
      body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav .masthead-nav > li + li {
        margin-left: 20px; }
      body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav ul.nav.masthead-nav {
        display: inline-block; }
        body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav ul.nav.masthead-nav li {
          font-size: 1.4em; }
          body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav ul.nav.masthead-nav li a:hover {
            color: #FF362B; }
          body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav ul.nav.masthead-nav li a {
            color: #400D0B;
            padding-left: 1em; }
      @media (min-width: 888px) {
        body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav .masthead-brand {
          float: left; }
        body .site-wrapper .site-wrapper-inner .cover-container .masthead.clearfix nav .masthead-nav {
          float: right; } }
      body .site-wrapper .site-wrapper-inner .cover-container .inner.cover {
        color: black;
        text-align: center;
        text-shadow: 0 3.5px 3px rgba(0, 0, 0, 0.5); }
        body .site-wrapper .site-wrapper-inner .cover-container .inner.cover h1.cover-heading {
          color: DimGray; }
        body .site-wrapper .site-wrapper-inner .cover-container .inner.cover p.lead {
          color: #7F1B15;
          text-shadow: none; }
      body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .currentUser {
        display: flex;
        flex-direction: row;
        padding-bottom: 3em; }
        body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .currentUser span.glyphicon.glyphicon-user {
          display: flex;
          color: DimGray;
          padding-top: 1.8em; }
        body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .currentUser h3 {
          color: DimGray;
          padding-left: .5em; }
      body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center {
        display: flex;
        flex-direction: row; }
        body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 {
          display: flex;
          flex-direction: column;
          margin-left: 4.8em; }
          body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 button.addEventButton {
            height: 30%;
            width: 80%;
            margin: 1em;
            font-size: 2vh;
            background-color: DimGray;
            color: #ECECEA; }
          body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 input.allEvents {
            height: 30%;
            width: 80%;
            margin: 1em;
            background-color: #ECECEA;
            color: DimGray; }
          body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 div.overFlowTable {
            height: 200px;
            overflow: auto; }
          body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable {
            background-color: DimGray; }
            body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable tbody.eventsTableBody tr {
              color: #ECECEA; }
              body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable tbody.eventsTableBody tr th {
                color: #400D0B;
                font-weight: normal;
                padding-left: 2em;
                padding-right: 2em; }
              body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable tbody.eventsTableBody tr td.title {
                color: #7F1B15;
                padding-right: 2em; }
              body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable tbody.eventsTableBody tr td.content {
                padding-right: 2em; }
              body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable tbody.eventsTableBody tr td button.editEventButton {
                color: DimGray;
                background-color: #ECECEA;
                padding-right: 1em;
                border: .25em;
                border-radius: 15px; }
              body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayEvents.container.col-md-6 table.eventTable tbody.eventsTableBody tr td button.deleteEventButton {
                color: DimGray;
                background-color: #ECECEA;
                padding-right: 2em;
                border: .25em;
                border-radius: 15px; }
        body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayNotes.container.col-md-6 button.addNoteButton {
          height: 26%;
          width: 80%;
          margin: 1em;
          font-size: 2vh;
          background-color: DimGray;
          color: #ECECEA; }
        body .site-wrapper .site-wrapper-inner .cover-container .bodyContainer.container.center .notesAndEvents.container.center .displayNotes.container.col-md-6 input.allNotes {
          height: 24%;
          width: 80%;
          margin: 1em;
          background-color: #ECECEA;
          color: DimGray; }
      body .site-wrapper .site-wrapper-inner .cover-container footer .mastfoot {
        background-color: #ECECEA; }
        body .site-wrapper .site-wrapper-inner .cover-container footer .mastfoot .inner {
          color: #400D0B; }

/*# sourceMappingURL=base.css.map */
